.App {
  text-align: left;
  font-family: Arial, sans-serif;
  padding: right 1em;
}

.App-header {
  background-color: #5275ba;
  padding: 2em;
  color: rgb(226, 207, 34);
}

.SearchInput {
  margin-top: 1em;
}

.SearchInput h3 {
  margin-bottom: 0.5em;
}


.SearchInput label {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 200px;
}

.Search-bar input::placeholder {
  width: 50%; 
  color: #655757; /* Change to your preferred color */
}

.Search-bar input {
  width: 50%; 
  padding: 0.5em;
  border: none;
  border-radius: 5px;
  outline: none;
  transition: box-shadow 0.5s ease;
}


/* This animation is not used in the refactored code, 
so we're removing it. If it is used somewhere else, 
please disregard this part.

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} 

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-link {
  color: #ffd905;
}
*/
